body{
    margin: 0px;
    padding: 0px;
}

.converter-body
{
    width: 550px;
    height: 350px;
    background-color:lightskyblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 2px 1px #cacaca;
    border-style: solid;
}

.converter-title
{
    text-align: center;
    margin: 13px 0px;
    padding: 35px;
    font-size: 50px;

}
input
{
    height: 50px;
    width: 250px;
}

#input
{
    margin-left: 15px;

}

#inputType,#resultType
{
    height: 50px;
    width: 254.7px;
    margin-left: 15px;
    color: red;
}

#resultType
{
    margin-left: 13.4px;
}